{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
    <p>
        {% blocktrans %}
            <p class="lead">Forgot your password? Enter your email in the form
                below and we'll send you instructions for creating a new
                one.</p>
        {% endblocktrans %}
    </p>
    <div class="col-sm-6 col-md-3">
        <form method="post" action="">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit"
                   value="{% trans 'Reset password' %}"/>
        </form>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
